.offneet{
    display: flex;
    justify-content: flex-end;
    width: 97%;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
    left: -80%;
}
.neet1{
    background: #cceeed;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    font-size:14px;
    font-weight: 600;
    padding: .5rem 1rem;
    transition: .2s ease-in-out;
    white-space: nowrap;
    width: fit-content;
}
.offjee {
    position: relative;
    right: -75%;
  
    height: 45px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}
details {
    /* border: 1px solid rgba(112,112,112,0.1); */
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 20px;
    cursor: pointer;
}
.summary {
   
    font-weight: 600;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    list-style-type: "+";
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.condiv {
    width: 101%;
    height: inherit;
    position: relative;
    left: -7px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 5px #00000080;
}
p {
    line-height: 1.5rem;
    text-align: justify;
    font-size: 1rem;
}
details summary::after {
    content: "+";
    float: right;
    font-size: 1.2em;
}
.offa {
    color: #000;
}
.jeeul li {
    list-style: disc;
    list-style-position: inside;
}
.jeetable {
    border-collapse: collapse;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    margin-bottom: 30px;
}
.faqs-container {
    padding: 1rem 9rem;
}
.jeetable th {
    padding-left: 3px;
}
h1.jeeh1 {
    width: 100%;
    height: 9vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jeetable, .jeetable td, .jeetable th {
    border: 1px solid;
}
.neetsum{
    background: #cceeed;
}

.jeeul{
    padding-bottom: 2rem;
}
.acolor{
    color: black;
}