*{
  font-family: Roboto, sans-serif;
  }
  
  /* h3{
    text-wrap:balance;
   
    text-underline-offset:6px;
    text-decoration-thickness:2px;
    margin-bottom:30px;
  }
   */
  details {
    /* border: 1px solid rgba(112,112,112,0.1); */
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 20px;
    cursor:pointer; 
    
  }
  
  .summary {
    background-color: #c5e1f3;
    font-weight: 600;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    list-style-type:"+";
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
   details[open] {
    padding: 0.5em; 

  
  }
  
  .summary::marker{
    font-size: 1.2em;
    margin-right:20px;
  }
  
  
  
  details summary::after{
    content:"+";
    float:right;
    font-size:1.2em;
    
  }
  
  details[open] summary::after{
    content:"-";
    float:right;
    font-size:1.5em;
   
   
  }
  .jeeul li{
    list-style: disc;
    list-style-position: inside;
  }
  .jeeul h3{
    text-decoration: none;
  }
.faqs-container{
  padding: 1rem 9rem;
}

.jeetable,.jeetable td,.jeetable th {
  border: 1px solid;
}

.jeetable{
  border-collapse: collapse;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  margin-bottom: 30px;
}
.jeetable td{
  padding-left: 5px;
}
.jeetable th{
  padding-left: 3px;
}

  .condiv {
    width: 101%;
    height: inherit;
    position: relative;
    left: -7px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding:10px ;
    box-shadow: 0px 0px 5px #00000080;

}
.p{
  text-decoration: underline;
}
.ja{
  color: #000;
}
.offjee{
  position: relative;
  right:-75%;
  background-color:  #c5e1f3;
  height: 45px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.offa{
  color: #000;
}